---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import { C } from "../../../../configuration";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
import { getRelativePath } from "../../../../path";
import { getContentEntryPath } from "../../../../i18n";
import Image from "astro/components/Image.astro";
import defaultCover from "../../../../assets/default-cover.jpg";
import type { CollectionEntry } from "astro:content";
import slug from "limax";

export const getStaticPaths = (async ({ paginate }) => {
  const pages = (await getCollection("blog")).reverse();
  const groupedPages = pages.reduce<Record<string, CollectionEntry<'blog'>[]>>((acc, page) => {
    page.data.tags.forEach((tag) => {
      const tagSlug = slug(tag);
      if (!acc[tagSlug]) {
        acc[tagSlug] = [];
      }
      acc[tagSlug].push(page);
    });
    return acc;
  }, {});
  const locales = Object.keys(C.LOCALES);

  return locales.flatMap((l) => {
    const locale = l === C.DEFAULT_LOCALE ? undefined : l;
    return Object.entries(groupedPages).flatMap(([tag, pages]) => {
      const translations = locales.reduce<Record<string, string>>(
        (acc, l) => {
          acc[l] = l === C.DEFAULT_LOCALE ? `/blog/${tag}` : `/${l}/blog/${tag}`;
          return acc;
        },
        {},
      );
      return paginate(pages, {
        pageSize: C.SETTINGS.BLOG.PAGE_SIZE,
        params: { locale, blog: "blog", tag },
        props: { locale: l, translations, tag },
      });
    });
  });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, locale, translations, tag } = Astro.props as Props;

---

<style>
  img {
    width: 600px;
    height: 320px;
    object-fit: cover;
  }
</style>

<DefaultLayout translations={translations} currentLocale={locale}>
  <h1>Tag {tag}</h1>
  <ul>
    {
      page.data.map(async (post) => (
        <li>
          <a href={await getContentEntryPath("blog", post.slug)}>
            <Image src={post.data.cover?.src || defaultCover} alt={post.data.cover?.alt || post.data.title} widths={[720]} />
            {post.data.title}
            {`${new Date(post.data.publishedAt).toLocaleDateString(locale)} ${new Date(post.data.publishedAt).toLocaleTimeString(locale)}`}
          </a>
        </li>
      ))
    }
  </ul>
  {
    page.url.prev ? (
      <a href={getRelativePath(page.url.prev)}>Vorherige Seite</a>
    ) : null
  }
  {
    page.url.next ? (
      <a href={getRelativePath(page.url.next)}>Nächste Seite</a>
    ) : null
  }
</DefaultLayout>
