---
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { getRelativePath } from "../../../utils/path";
import { useTranslations } from "../../../utils/i18n";
import { blogPagePaths } from '../../_paths';
import SinglePaneContent from '../../../layouts/sections/SinglePaneContent.astro';
import PostCard from '../../../components/PostCard.astro';

export const getStaticPaths = blogPagePaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, locale, translations } = Astro.props as Props;
const pagedTranslations = Object.entries(translations).reduce<Record<string, string>>((acc, [l, t]) => {
  acc[l] = page.currentPage === 1 ? t : `${t}/${page.currentPage}`;
  return acc;
}, {});
type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { locale: localeSlug, blog: blogSlug } = Astro.params as Params;
const t = useTranslations(locale);
---

<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>

<DefaultLayout translations={pagedTranslations}>
  <SinglePaneContent>
    <h1>{t('pages.blog')}</h1>
    <span class="subtitle">{t('pagination.pageOf', {'current': page.currentPage, 'total': page.lastPage})}</span>
    <ul>
      {
        page.data.map(async (post) => (
          <li>
            <PostCard post={post} locale={locale} localeSlug={localeSlug} blogSlug={blogSlug} />
          </li>
        ))
      }
    </ul>
    {
      page.url.prev ? (
        <a href={getRelativePath(page.url.prev)}>Vorherige Seite</a>
      ) : null
    }
    {
      page.url.next ? (
        <a href={getRelativePath(page.url.next)}>Nächste Seite</a>
      ) : null
    }
  </SinglePaneContent>
</DefaultLayout>
