---
import type { GitInfoFrontmatter } from '../remark/remark-git-info'
import { getLocaleFromUrl, useTranslations } from '../utils/i18n';
import Button from './Button.astro';

type Props = GitInfoFrontmatter;

const { git } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

---

<div>
  <span class="label">{t('label.gitInfo')}</span>
  <dl>
    <dt>Author</dt>
    <dd>{git.lastCommit.author_name}</dd>
    <dt>Last update</dt>
    <dd>{git.lastCommit.date}</dd>
    <dt>Links</dt>
    <dd>
      <Button href={git.remoteViewUrl}>View</Button>
      <Button href={git.remoteHistoryUrl}>History</Button>
      <Button href={git.remoteEditUrl}>Edit</Button>
    </dd>
  </dl>
</div>
