---
import {getNameFromLocale} from '../i18n';

type Props = {
  translations?: Record<string, string>;
  currentLocale?: string;
}

const { translations } = Astro.props;
---

<style>
  div {
    padding: 1rem;
  }
</style>

<nav>
  {Object.entries(translations || {}).map(([locale, path]) => (
    <a href={path} lang={locale} hreflang={locale}>{getNameFromLocale(locale)}</a>
  ))}
</div>
