---
import {getNameFromLocale} from '../utils/i18n';
import { getRelativePath } from '../utils/path';
import Dropdown from './Dropdown.astro';
import Icon from './Icon.astro';


type Props = {
  currentLocale: string;
  translations?: Record<string, string>;
}

const { translations, currentLocale } = Astro.props;
---

<nav role="navigation">
  <Dropdown>
    <Fragment slot="button"><Icon name="language" />{getNameFromLocale(currentLocale)}</Fragment>
    {Object.entries(translations || {}).map(([locale, path]) => (
      <li class:list={[{active: locale === currentLocale}]}>
        <a href={getRelativePath(path)} lang={locale} hreflang={locale}>{getNameFromLocale(locale)}</a>
      </li>
    ))}
  </Dropdown>
</nav>
