---
import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';
import { C } from '../../../configuration';
import { getDataEntryPath, parseLocale } from '../../../utils/i18n';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

export const getStaticPaths = (async () => {
	const locales = Object.keys(C.LOCALES);

	const translations = locales.reduce((acc, l) => {
    const parsedLocale = parseLocale(l);
    const slug = C.MESSAGES[parsedLocale]['slugs.gallery'];
		acc[l] = l === C.DEFAULT_LOCALE ? `/${slug}` : `/${l}/${slug}`;
		return acc;
	}, {} as Record<string, string>);

	return locales.map((l) => {
    const parsedLocale = parseLocale(l);
    const slug = C.MESSAGES[parsedLocale]['slugs.gallery'];
		const locale = l === C.DEFAULT_LOCALE ? undefined : l;
		return { params: { locale, gallery: slug }, props: { locale: parsedLocale, translations } };
	});

}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, locale } = Astro.props as Props;

const gallery = await getCollection('gallery');

---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Gallery</h1>
  <ul>
    {
      gallery.map(async (category) => {
        const c = category.data;
        if (!c) return undefined;
        return <li>
          <a href={await getDataEntryPath('gallery', category.id, locale)}>
            <Image src={c.cover} alt={`Cover: ${c.title[locale]}`} width={320} />
            {c.title[locale]}
          </a>
        </li>
      }).filter(Boolean)
    }
  </ul>
</DefaultLayout>
