---
import type { InferGetStaticPropsType } from 'astro';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';
import { getDataEntryPath } from '../../../utils/i18n';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import { indexPaths } from '../../_paths';

export const getStaticPaths = indexPaths('gallery');

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, locale } = Astro.props as Props;

const gallery = await getCollection('gallery');

---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Gallery</h1>
  <ul>
    {
      gallery.map(async (category) => {
        const c = category.data;
        if (!c) return undefined;
        return <li>
          <a href={await getDataEntryPath('gallery', category.id, locale)}>
            <Image src={c.cover} alt={`Cover: ${c.title[locale]}`} width={320} />
            {c.title[locale]}
          </a>
        </li>
      }).filter(Boolean)
    }
  </ul>
</DefaultLayout>
