---
import { N } from '../../navigation';
import { C } from '../../configuration';
import { getLocaleFromUrl, useTranslations } from '../../utils/i18n';
import { getRelativePath } from '../../utils/path';
import Search from '../../components/Search';
import ThemeSwitcher from '../../components/ThemeSwitcher.astro';
import LanguageSwitcher from '../../components/LanguageSwitcher.astro';
import Link from '../../components/Link.astro';
import Burger from '../../components/MenuButton.astro';

type Props = {
  translations?: Record<string, string>;
};

const { translations } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const pagefindPath = `${import.meta.env.DEV ? '' : import.meta.env.BASE_URL}/pagefind/pagefind.js`;

---

<header>
  <a href={getRelativePath(`/${locale === C.DEFAULT_LOCALE ? '' : locale}`)} class="title" set:html={t('site.title')}></a>
  <Burger />
  <nav class="rounded">
    <ul>
      {N.main[locale].map((i) => <li><Link href={i.path}>{i.title}</Link></li>)}
    </ul>
  </nav>
  <div id="tools">
    <Search path={pagefindPath} placeholder={t('search.placeholder')} client:load />
    <ThemeSwitcher />
    <LanguageSwitcher translations={translations} currentLocale={locale} />
  </div>
</header>
