---
import { C } from '../../configuration';
import { getLocaleFromUrl, useTranslations } from '../../utils/i18n';
import { getRelativePath } from '../../utils/path';
import Search from '../../components/Search';
import ThemeSwitcher from '../../components/ThemeSwitcher.astro';
import LanguageSwitcher from '../../components/LanguageSwitcher.astro';
import Burger from '../../components/MenuButton.astro';
import Navigation from "../../components/Navigation.astro";
import { getEntry } from 'astro:content';

type Props = {
  translations?: Record<string, string>;
};

const { translations } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const pagefindPath = `${import.meta.env.DEV ? '' : import.meta.env.BASE_URL}/pagefind/pagefind.js`;
const navigation = (await getEntry("navigation", "main"))!.data;

---

<header>
  <a href={getRelativePath(`/${locale === C.DEFAULT_LOCALE ? '' : locale}`)} class="title" set:html={t('site.title')}></a>
  <Burger />
  <Navigation items={navigation} locale={locale} />
  <div id="tools">
    <Search path={pagefindPath} placeholder={t('search.placeholder')} client:load />
    <ThemeSwitcher />
    <LanguageSwitcher translations={translations} currentLocale={locale} />
  </div>
</header>
